<div class="card-body">

    <table class="table table-hover" *ngIf="posts">
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Options</th>
        </tr>
        <tr *ngFor="let post of posts">
            <td>{{post.title}} </td>
            <td>{{post.body}} </td>
            <td class="col-md-2">
                <button type="button" class="btn btn-primary" (click)="getPostComments(post.id)" data-toggle="modal" data-target="#exampleModal">
            View Comments</button></td>
        </tr>
    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover" *ngIf="comments">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Body</th>
                        </tr>
                        <tr *ngFor="let comment of comments">
                            <td>{{comment.name}} </td>
                            <td>{{comment.email}} </td>
                            <td>{{comment.body}} </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>