<table class="table table-hover" *ngIf="albums">
    <tr>
        <th>Album Title</th>
    </tr>
    <tr *ngFor="let album of albums">
        <td>{{album.title}} </td>
        <td class="col-md-2">
            <button type="button" class="btn btn-primary" (click)="getPhotosByAlbumId(album.id)" data-toggle="modal" data-target="#exampleModal">
          View Photos</button></td>
    </tr>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Photos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped" *ngIf="photos">
                    <tr>
                        <th>Title</th>
                        <th>Image</th>
                    </tr>
                    <tr *ngFor="let photo of photos">
                        <td>{{photo.title}} </td>
                        <td>
                            <a href="#" role="button"><img src={{photo.thumbnailUrl}} alt="" data-toggle="modal" data-target="#photoModal" (click)="showSeperateImage(photo)"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="photoModalLabel">{{image.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                <img class="centeralize" src="{{image.url}}" alt="">
            </div>
        </div>
    </div>
</div>