<div class="card mt-4 container-fluid">
    <h4 class="card-header">Admin Dashboard</h4>
    <div class="card-body">
        <p>This page can be accessed <u>only by administrators</u>.</p>

        <button class=" btn btn-success" data-toggle="modal" data-target="#UserModal" (click)="showCreateButton()">Create User</button>

        <div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">User Info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="UserForm" (ngSubmit)="createOrUpdateUser()">
                            <div class="form-group">
                                <label for="avatar">Avatar</label>
                                <input type="text" formControlName="avatar" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.avatar.errors }" />
                                <div *ngIf="submitted && f.avatar.errors" class="invalid-feedback">
                                    <div *ngIf="f.avatar.errors.required">Avatar is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" formControlName="first_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
                                <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                                    <div *ngIf="f.first_name.errors.required"> First Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" formControlName="last_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }" />
                                <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                                    <div *ngIf="f.last_name.errors.required">Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button *ngIf="!isCreateUserButton" class="btn btn-primary">
                          Update User
                      </button>
                                <button *ngIf="isCreateUserButton" class="btn btn-primary">
                        Create User
                    </button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <p class="mb-1">All users from secure (admin only) api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>

        <table class="table table-hover" *ngIf="listOfUsers" id="usersList">
            <tr>
                <th>Photo</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Options</th>
            </tr>
            <tr *ngFor="let user of listOfUsers.data">
                <td><img src="{{user.avatar}}" alt=""> </td>
                <td>{{user.first_name}} </td>
                <td>{{user.last_name}} </td>
                <td>{{user.email}} </td>

                <td>
                    <button class="btn btn-warning col-md-3" title="Update User" data-toggle="modal" data-target="#UserModal" (click)="showUpdateButton(user)">
                      <i class="fas fa-user-edit"></i>
                    </button>

                    <button class="btn btn-danger col-md-3" title="Delete User" (click)="deleteUser(user.id)">
                      <i class="fas fa-user-times"></i>
                    </button></td>
            </tr>
        </table>
        <div>
            <button class="btn btn-primary" (click)="getPreviuosPageOfUsers()" *ngIf="currentPageNumber!=1">Previous</button>
            <button class="btn btn-primary" (click)="getNextPageOfUsers()" *ngIf="currentPageNumber!=totalPageNumber">Next</button>
        </div>
    </div>
</div>