<div class="card mt-4 container-fluid">
    <div class="card-body">
        <div class="row">

            <div class="col-md-2">
                <nav class="nav flex-column">
                    <button class="btn btn-primary " id="postsBtn" (click)="loadPostComponents()">Posts</button>
                    <button class="btn btn-outline-primary " id="albumsBtn" (click)="loadAlbumComponents()">Albums</button>
                </nav>
            </div>
            <div class="col-md-10">
                <app-post *ngIf="loadPosts"></app-post>
                <app-album *ngIf="loadAlbums"></app-album>
            </div>
        </div>
    </div>
</div>